PORT=4000
DATABASE_URL="postgresql://postgres:su-contraseña-supabase@db.xxxxxx.supabase.co:5432/postgres?schema=public"
JWT_SECRET="jnsix-isp-super-secret-key-change-this-in-production"
NODE_ENV=development
